services:
  http-app-server:
    build:
      dockerfile: dev.Dockerfile
      context: .
    networks:
      - http-app-network
    ports:
      - "8080:8080"
      - "8081:8081"
    expose:
      - "8080"
      - "8081"
    volumes:
      - .:/app
      - zelemetry_data:/app/build
    env_file:
      - .env

networks:
  http-app-network:
    driver: bridge

volumes:
  zelemetry_data:
